.App {
  text-align: center;
  width: 100vw;
  height: 96vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://c0.wallpaperflare.com/preview/578/536/60/internet-whatsapp-smartphone-communication.jpg');
}

.selectoption {
  width: 275px;
  margin-left: 90px;
  margin-inline: auto;
}

.chat {
  background-image: url("https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg");
  margin-top: 10px;
  border: 5px solid grey;
  border-radius: 15px;
  width: 280px;
  text-align: center;
  margin-inline: auto;
  background-color: whitesmoke;
}

.childchat::-webkit-scrollbar {
  display: none;
  display: flex;
  flex-direction: column;
}

.childchat {
  overflow-y: auto;
  height: 400px;
}

.message-text {
  width: 100px;
  word-break: break-all;
}

.messages-card {
  display: flex;
  flex-direction: column;
}

.message-box {
  display: flex;
  align-items: flex-end;
}

.message-box .username {
  font-size: 0.7rem;
  padding: 2px 5px;
  color: grey;
}

.message-box .message {
  width: fit-content;
  margin-bottom: 8px;
  padding: 0.4rem 0.8rem;
  background: rgb(255, 255, 255);
}

.message-box .message .message-text {
  font-size: 0.9rem;

}
.message-box-left {
  box-shadow: 1px 0.9px 3px 0px grey;
  flex-direction: row-reverse;
  margin-right: 5rem;
  position: relative;
  background-color: white;
  margin-top: 10px;
  margin-left: 11px;
  font-size: small;
  border-radius: 0px 10px 10px 10px;
}
.message-box-left::before {
  border-width: 11px 5px 0px 18px;
  border-color: transparent transparent transparent white;
  border-style: solid;
  position: absolute;
  rotate: -177deg;
  width: 0;
  height: 0;
  content: "";
  top: 0;
  left: -18px;
}
.message-box-right {
  box-shadow: 1px 0.9px 3px 0px grey;
  flex-direction: row-reverse;
  margin-left: 7rem;
  position: relative;
  background-color: #e1ffc7;
  margin-top: 10px;
  margin-right: 10px;
  font-size: small;
  border-radius: 10px 0px 10px 10px;
}
.message-box-right::after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  border-style: solid;
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  top: 0;
  right: -10px;
}

.icon {
  margin-top: 40px;
  height: 40px;
  border-radius: 50%;
  width: 50px;
  background-color:#0d8b5bf6

}

/* .chattext {
  display: flex;
  width: 800px;
  border-radius: 10px 0px 10px 10px;
  
} */

/* chat box */
.conversation-compose {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 50px;
  width: 100%;
  z-index: 2;
}

.conversation-compose div,
.conversation-compose input {
  background: #fff;
  height: 85%;
}

.conversation-compose .emoji {
  display: flex;
  margin-left: 8px;
  width: 48px;
}

.conversation-compose .input-msg {
  border: none;
  flex: 1 1 auto;
  font-size: 16px;
  outline: none;
  min-width: 50px;
}

.conversation-compose .photo {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  margin-right: 8px;
  width: 28px;
}

.conversation-compose .photo:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  top: 0;
  right: -10px;
}



/* Small Screens */

/* @media (max-width: 768px) {
  .marvel-device.nexus5 {
    border-radius: 0;
    flex: none;
    padding: 0;
    max-width: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .marvel-device > .screen .chat {
    visibility: visible;
  }

  .marvel-device {
    visibility: hidden;
  }

  .marvel-device .status-bar {
    display: none;
  }

  .screen-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .conversation {
    height: calc(100vh - 55px);
  }
  .conversation .conversation-container {
    height: calc(100vh - 120px);
  }
} */